* {
    padding: 0;
    margin: 0;
}
.header {
    height: 10vh;
    background: linear-gradient(
    to bottom,
    #15151E,
    #0f0f16
);

    display: flex;
    align-items: center;
    color: rgb(240, 37, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    position: relative;
}

.logo {
    padding: 50px;
    width: 50px;
}

.logo img {
    width: 100%;
}

.logo img {
    width: 75px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.hero {
    flex: 1;
    text-align: center;
    font-size: 32px;
}

.hero span {
    transition: transform 0.3s ease;
    display: inline-block;
    cursor: default;
    font-weight: 300;
    padding-left: 100px;
}

.hero span:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    transform: translateY(-2px);
}
@media only screen and (max-width: 768px) {
    .main{
        gap:20px;
    }
    .header {
        height: 70px;
        padding: 0 10px;
    }
    .logo {
        padding: 10px;
        width: auto;
    }
    .logo img {
        width: 40px;
    }
    .hero {
        flex: 1;
        font-size: 18px;
        text-align: center;
        padding: 0;
        visibility: hidden;
    }
    .hero span {
        padding-left: 0;
        line-height: 1.0;
    }
    .navbar {
        gap: 8px;
        padding-right: 0px;
    }

    .navbar a {
        font-size: 12px;
    }
    .box {
        min-width: 0px;
        height: auto;
        grid-template-columns: 1fr;
        padding: 10px;
        flex: 0 0 calc(50% - 10px);
    }
    .right {
        grid-column: 1;
        grid-row: auto;
        order: -1;
        align-self: start;
    }
    .right img {
        max-width: 150px;
    }
    .name {
        font-size: 32px;
        text-align: center;
    }
    .info {
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
    }
    .btn {
        margin-top: 10px;
    }
}
