* {
    padding: 0;
    margin: 0;
}



.main {
    background: linear-gradient(135deg,
            #15151E,
            #131327,
            #0f1833);
    min-height: 90vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.box {
    max-height: 400px;
    padding-top: 95px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    gap: 30px;
    padding: 30px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px -3px;
    transition: all 0.3s ease;
    flex: 0 0 calc(50% - 15px);
    box-sizing: border-box;

}

.mcl {
    background: linear-gradient(154deg,
            #bd5601 0%,
            #e7861f 35%,
            #ff9225 65%,
            #ff9f1a 100%);
}

.ferr {
    background: linear-gradient(154deg,
            #3f0101 0%,
            #ee3a3a 35%,
            #660303 65%,
            #330000 100%);
}

.merc {
    background: linear-gradient(154deg,
    #0b0c0e 0%,
    #40bb96 35%,
    #00252c 75%,
    #000308 100%
);
}

.rbr {
    background: linear-gradient(154deg,
    #030814 0%,
    #0a122b 35%,
    #142a4f 65%,
    #3d0501 100%
);
}

.ast {
    background: linear-gradient(154deg,
    #02110d 0%,
    #085247 35%,
    #063b31 65%,
    #001613 100%
);
}

.will {
    background: linear-gradient(154deg,
    #040910 0%,
    #091628 35%,
    #102947 65%,
    #173d6b 100%
);
}

.rac {
    background: linear-gradient(154deg,
    #070c38 0%,
    #5f7391 35%,
    #96a2b6 65%,
    #000a27 100%
);
}

.haas {
    background: linear-gradient(154deg,
    #240000 0%,
    #141618 35%,
    #311414 65%,
    #303338 100%
);  
}

.sau {
    background: linear-gradient(154deg,
    #0b0e0c 0%,
    #1a8a0b 35%,
    #003a0a 65%,
    #00140a 100%
);
}

.alp {
    background: linear-gradient(154deg,
    #1e3aff 0%,
    #5b8dff 35%,
    #ff77b7 65%,
    #55002a 100%
);
}

.box:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    background-color: #191924
}

.name {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.right {
    grid-column: 1;
    grid-row: 1 / -1;
}

.right,
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: contain;
}

.info {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #fff;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 6px 14px;
    font-size: 15px;
    line-height: 1;

    border: 2px solid blue;
    border-radius: 6px;

    justify-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
}


.btn:hover {
    background-color: blue;
    color: white;
    transform: translateY(-2px);
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.footer {
    text-align: center;
    padding-bottom: 30px;
}
