* {
    padding: 0;
    margin: 0;
}

.header {
    height: 100px;
    background-color: rgb(32, 30, 30);
    display: flex;
    align-items: center;
    color: rgb(240, 37, 37);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
}

.logo {
    padding: 50px;
    width: 50px;
}

.logo img {
    width: 100%;
}

.logo img {
    width: 75px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.hero {
    flex: 1;
    text-align: center;
    font-size: 32px;
}

.hero span {
    transition: transform 0.3s ease;
    display: inline-block;
    cursor: default;
    font-weight: 800;
}

.hero span:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    transform: translateY(-2px);
}

.main {
    background-color: rgba(255, 255, 255, 0.89);
    height: calc(100vh - 100px);
    padding : 30px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.box {
    margin: 30px;
    padding-top: 95px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 2px -3px;
    
}

.left {
    grid-column: 1;
}

.name {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: rgb(255, 0, 0);
}

.right {
    grid-column: 2;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 100%;
    height: auto;
}

.info{
    text-align: center;
    font-family: "Poppins", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 6px 14px;
    font-size: 15px;
    line-height: 1;

    border: 2px solid blue;
    border-radius: 6px;

    justify-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
}


.btn:hover {
    background-color: blue;
    color: white;
    transform: translateY(-2px);
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.footer{
    text-align: center;
    padding-bottom: 30px;
}