* {
    padding: 0;
    margin: 0;
}



.main {
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 100px);
    padding : 30px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.box {
    min-height: 400px;
    margin: 30px;
    padding-top: 95px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 2px -3px;
    transition: all 0.3s ease;
}

.box:hover{
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    background-color: rgb(255, 252, 248)
}

.left {
    grid-column: 1;
}

.name {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: rgb(255, 0, 0);
}

.right {
    grid-column: 2;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 100%;
    height: auto;
}

.info{
    text-align: center;
    font-family: "Poppins", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 6px 14px;
    font-size: 15px;
    line-height: 1;

    border: 2px solid blue;
    border-radius: 6px;

    justify-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
}


.btn:hover {
    background-color: blue;
    color: white;
    transform: translateY(-2px);
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.footer{
    text-align: center;
    padding-bottom: 30px;
}

