@media only screen and (max-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: auto;
    }
}
@media only screen and (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}


    
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(145deg, rgba(49, 48, 48, 0.95), rgba(0, 0, 0, 0.95), rgba(210, 47, 47, 0.95));
    background-clip: text;
    color: transparent;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 300px;
    text-align: center;

}
.pic {
    border: 1px solid #000  ;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
   
}
.main {
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    background: linear-gradient(145deg, rgba(200, 184, 184, 0.95), rgba(0, 0, 0, 0.95), rgba(99, 2, 2, 0.95));

 
    gap: 20px;
    padding-bottom: 50vh;
}
.info {
    text-align: center;
    font-size: 0.8em;
    background: linear-gradient(145deg, rgba(123, 0, 0, 0.95), rgba(0, 0, 0, 0.95), rgba(99, 2, 2, 0.95));
    background-clip: text;
    color: transparent;
}