
@media only screen and (max-width: 768px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main {
        display: flex;      
        flex-direction: column;
        align-items: center;   
    } 
    
}
 

.main {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.95), rgba(107, 87, 89, 0.748), rgba(0, 0, 0, 0.95)); 
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    padding-bottom: 300px;
}
/*
.box {
    min-height: 400px;
    margin: 30px;
    padding-top: 95px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 2px -3px;
    transition: all 0.3s ease;
}

.box:hover{
    cursor: pointer;
    transform: translateY(-2px) scale(1.01);
    background-color: rgb(255, 252, 248)
}

.left {
    grid-column: 1;
}

.name {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: rgb(255, 0, 0);
}

.right {
    grid-column: 2;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

 */


.box1, .box2, .box3, .box4, .box5,.box6, .box7, .box8, .box9 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;   
}
.info{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    color: rgb(0, 0, 0);
    border:0.5px solid black;
    width: 300px;
    height: 100px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.184);
}
.pic{
    width: 300px;
    height: 300px;
    border: 0.5px solid black;
    object-fit: cover;
}
